!!!
%html
  %head
    %link{:href => '/stylesheet.css', :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{:type => "text/javascript", :src   => "/javascript/jquery.js" }
    %script{:type => "text/javascript", :src   => "/javascript/jquery.timer.js" }
    %script{:type => "text/javascript", :src   => "/javascript/application.js" }
    %meta{:name => 'keywords', :content => "#{HASHTAG}, Forward Technology"}
    %meta{:name => 'description', :content => "#{HASHTAG} dashboard"}
    %meta{:name => 'author', :content => 'Andrew Nesbitt'}
    %title= HASHTAG
  %body
    / #logo
    %h1(style="font-size: 50px") Cleanweb London
    #forward
    #message
      Welcome to
      = HASHTAG
    #wifi
      wifi: ForwardStage
      %br
      pass: f0rw4rdst4g3
    #twitter
      ="<img src='/images/tree.png' width='150'/><br/>@CleanwebUK<br/>#{HASHTAG}"
